/* -----Глобальные----- */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--primary-text-color);
}

.title {
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.lists {
  list-style: none;
}

.btn {
  font-family: var(--main-font);
  cursor: pointer;
}

/* -----Хедер----- */

.header {
  background-color: #ffffff;
}

/* -----Логотип в хедере----- */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo:hover,
.logo-web:hover {
  color: var(--accent-color);
}

.logo:focus,
.logo-web:focus {
  color: var(--accent-color);
}

.header-lists,
.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

/* -----Контакты хедера----- */

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* -----Герой----- */
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* -----:hover есть, но не активный в проекте----- */

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----Наша работа----- */
/* -----? В проекте bg #e5e5e5, фактически #ffffff----- */
.work {
  background: #ffffff;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.work-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.work-position {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----Чем мы занимаемся----- */
/* -----? В проекте bg #e5e5e5, фактически #ffffff;----- */

.projects {
  background-color: #ffffff;
}

.projects-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-photo:hover,
.projects-link:focus {
  border: 5px solid var(--accent-color);
}

/* -----Наша команда----- */

.team {
  background: #f5f4fa;
}

.team-mean-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* -----Футер----- */

.footer {
  background: #2f303a;
}

/* -----Адрес----- */

.logo-bottom {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-bottom:hover,
.logo-web:hover {
  color: var(--accent-color);
}

.logo-bottom:focus,
.logo-web:focus {
  color: var(--accent-color);
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* -----Портфолио----- */

.portfolio-main {
  background-color: #ffffff;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.btn:hover {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-item:hover,
.portfolio-item:focus {
  background-color: #e5e5e5;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
